{% extends 'base.html.twig' %}

{% block title %}{{ 'classification'|trans }}{% endblock %}

{% block contents %}
    <div class="pull-right">
        <a class="btn btn-sm btn-success" href="{{ path('classification_create') }}" data-toggle="modal" data-target="#myModal">
            <span class="fa fa-plus"></span> {{ 'create'|trans }}
        </a>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>{{ 'outlook'|trans }}</th>
                    <th>{{ 'temperatur'|trans }}</th>
                    <th>{{ 'humidity'|trans }}</th>
                    <th>{{ 'wind'|trans }}</th>
                    <th>{{ 'output'|trans }}</th>
                </tr>
            </thead>
            <tbody>
                {% for item in data %}
                <tr>
                    <td>{{ item.outlook }}</td>
                    <td>{{ item.temperatur }}</td>
                    <td>{{ item.humidity }}</td>
                    <td>{{ item.wind }}</td>
                    <td>{{ item.output }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
