{{ form_start(filter) }}
<tr>
    <td>{{ form_widget(filter.created_at) }}</td>
    <td>{{ form_widget(filter.title) }}</td>
    <td>{{ form_widget(filter.content) }}</td>
    <td>{{ form_widget(filter.person) }}</td>
    <td>
    <button type="submit" name="submit" class="btn btn-success btn-sm"><i class="fa fa-search"></i> <span>{{ 'filter'|trans }}</span></button>
        <a href="{{path('news_index', {'_reset' : true })}}" class="btn btn-default btn-sm"><i class="fa fa-recycle"></i> <span>{{ 'reset'|trans }}</span></a>
    </td>
</tr>
{{ form_end(filter) }}