{% extends '@BaseController/modal-layout.html.twig' %}

{% block title %}Edit News{% endblock %}

{% block content %}
    
    {{ form_widget(form) }}
        
{% endblock %} 

{% block form_start %}
    
    {{ form_start(form) }}
    
{% endblock %}

{% block form_end %}
    
    {{ form_end(form) }}
    
{% endblock %}

{% block actions %}
    <button class="btn btn-sm btn-success">
        <span class="fa fa-save"></span> 
        {{ 'save'|trans }}
    </button>
{% endblock %}
    