{% extends 'base.html.twig' %}

{% block title %}news{% endblock %}

{% block content %}
    <h1>{{ 'news'|trans }}</h1>
    <div class="pull-right">
        <a class="btn btn-sm btn-success" href="{{ path('news_new') }}" data-toggle="modal" data-target="#myModal">
            <span class="fa fa-plus"></span> {{ 'create'|trans }}</a>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>               
                    <th>{{ 'created_at'|trans }}</th>
                    <th>{{ 'title'|trans }}</th>
                    <th>{{ 'content'|trans }}</th>
                    <th>{{ 'person'|trans }}</th>
                    <th>{{ 'actions'|trans }}</th>
                </tr>
            </thead>
            <tbody>

                {{ include('news/_filters.html.twig', {filter: filter}) }} 
                {% for news in news %}
                <tr>                                                                                
                    <td>{{ news.createdAt ? news.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ news.title }}</td>
                    <td>{{ news.content }}</td>
                    <td>{{ news.person }}</td>
                    <td>
                        <a class="btn btn-xs btn-primary" href="{{ path('news_show', {'id': news.id}) }}" data-toggle="modal" data-target="#myModal"><span class="fa fa-desktop"></span> {{ 'show'|trans }}</a>
                        <a class="btn btn-xs btn-info" href="{{ path('news_edit', {'id': news.id}) }}" data-toggle="modal" data-target="#myModal"><span class="fa fa-edit"></span> {{ 'edit'|trans }}</a>
                        {{ include('news/_delete_form.html.twig', {news: news}) }}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">{{ 'no_records_found'|trans }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-lg-2">
        {{ include('news/_max_per_page.html.twig', {url: 'news_index'}) }}
    </div>
    <div class="pull-right">
        <style>
            .pagination {
                margin : 0px;
            }
        </style>
        <div class="pagerfanta pull-right">
            {{ knp_pagination_render(news) }}
        </div>
    </div>
{% endblock %}
