{% extends 'base.html.twig' %}

{% block title %}News{% endblock %}

{% block content %}

    <h1>{{ 'show'|trans}} News</h1>

    <table class="table table-bordered table-hover">
        <tbody>
                        <tr>
                <th>Id</th>
                <td>{{ news.id }}</td>
            </tr>
                        <tr>
                <th>Created_at</th>
                <td>{{ news.createdAt ? news.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
                        <tr>
                <th>Title</th>
                <td>{{ news.title }}</td>
            </tr>
                        <tr>
                <th>Content</th>
                <td>{{ news.content }}</td>
            </tr>
                    </tbody>
    </table>

    <a class="btn btn-sm btn-primary" href="{{ path('news_index') }}" ><span class="fa fa-list"></span> {{ 'back'|trans }}</a>

    <a class="btn btn-sm btn-info" href="{{ path('news_edit', {'id': news.id}) }}"><span class="fa fa-edit"></span> {{ 'edit'|trans }}</a>

{% endblock %}
