{% extends 'base.html.twig' %}

{% block title %}person{% endblock %}

{% block contents %}
    <h1>{{ 'person'|trans }}</h1>
    <div class="pull-right">
                <a class="btn btn-sm btn-success" href="{{ path('person_new') }}" data-toggle="modal" data-target="#myModal">
            <span class="fa fa-plus"></span> {{ 'create'|trans }}</a>
            </div>
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                                                                                                    <th>{{ 'name'|trans }}</th>
                                                        <th>{{ 'address'|trans }}</th>
                                    <th>{{ 'actions'|trans }}</th>
                </tr>
            </thead>
            <tbody>

                                {{ include('person/_filters.html.twig', {filter: filter}) }} 
                            {% for person in people %}
                <tr>
                                                                                                    <td>{{ person.name }}</td>
                                                        <td>{{ person.address }}</td>
                                    <td>
                                                <a class="btn btn-xs btn-primary" href="{{ path('person_show', {'id': person.id}) }}" data-toggle="modal" data-target="#myModal"><span class="fa fa-desktop"></span> {{ 'show'|trans }}</a>
                        <a class="btn btn-xs btn-info" href="{{ path('person_edit', {'id': person.id}) }}" data-toggle="modal" data-target="#myModal"><span class="fa fa-edit"></span> {{ 'edit'|trans }}</a>
                                                {{ include('person/_delete_form.html.twig', {person: person}) }}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">{{ 'no_records_found'|trans }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-lg-2">
        {{ include('person/_max_per_page.html.twig', {url: 'person_index'}) }}
    </div>
    <div class="pull-right">
        <style>
            .pagination {
                margin : 0px;
            }
        </style>
        <div class="pagerfanta pull-right">
            {{ knp_pagination_render(people) }}
        </div>
    </div>
{% endblock %}
