{% extends '@BaseController/modal-layout.html.twig' %}

{% block title %}{{ 'show'|trans}} {{ 'person'|trans }}{% endblock %}

{% block content %}
    
    <table class="table table-bordered table-hover">
        <tbody>
                        <tr>
                <th width="30%">Id</th>
                <td>{{ person.id }}</td>
            </tr>
                        <tr>
                <th width="30%">Name</th>
                <td>{{ person.name }}</td>
            </tr>
                        <tr>
                <th width="30%">Address</th>
                <td>{{ person.address }}</td>
            </tr>
                    </tbody>
    </table>
        
{% endblock %} 
    
