{% extends '@AdminLTE/base.html.twig' %}

{% block content %}
    
    {% apply spaceless %}
    
        {% block form_start %}{% endblock %}
        
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-lg-12">
                    <div class="pull-right">
                        {% block actions %}{% endblock %}
                    </div>
                    <div class="pull-left"><h4>{% block title %}{% endblock %}</h4></div>
                </div>
                <div class="col-lg-12">
                    
                    {% include '@AdminLTE/_flashes.twig' %}

                    {% block contents %}{% endblock %}

                    <div class="pull-right">
                        
                        {% block pagination %}{% endblock %}
                        
                    </div>
                </div>
            </div>
        </div>
                    
        {% block form_end %}{% endblock %}
        
    {% endapply %}
        
{% endblock %}